DEBUG=True
SECRET_KEY=troque-esta-chave
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=America/Fortaleza
POSTGRES_DB=educas
POSTGRES_USER=educas
POSTGRES_PASSWORD=educas
POSTGRES_HOST=db
POSTGRES_PORT=5432
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-4o-mini
